* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
  border-radius: 8px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

button {
  background-color: #e54;
  padding: .5rem .8rem;
  font-size: 1rem;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  border: none;
}

.container_modal{
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  animation:  crescer 2s ease-in-out;
}

@keyframes crescer {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.container_modal.ativo{
  display: flex;
}